<nav class="paginator" aria-label="Paginación de tabla">
  <button
    class="paginator__button"
    (click)="setPage(page - 1)"
    [disabled]="page === 1"
    aria-label="Página anterior"
  >
    <app-ui-button icon="icon-chevron-left" variant="icon" size="sm" color="primary" [disabled]="page === 1"></app-ui-button>
  </button>
  <span class="paginator__info">
    Página <b>{{ page }}</b> de <b>{{ totalPages }}</b>
  </span>
  <button
    class="paginator__button"
    (click)="setPage(page + 1)"
    [disabled]="page === totalPages"
    aria-label="Página siguiente"
  >
    <app-ui-button icon="icon-chevron-right" variant="icon" size="sm" color="primary" [disabled]="page === totalPages"></app-ui-button>
  </button>
</nav>
