// d:/desarrollos/countries2/frontend/src/app/modules/shared/components/ui-heading/ui-heading.component.scss

.ui-heading {
  display: flex;
  align-items: center;
  gap: var(--space-m);
  margin-bottom: var(--space-l);

  &__icon {
    color: var(--color-text-muted);
  }

  &__title {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-default);
    margin: 0;
  }
}