<nav class="menu-bar" [attr.aria-label]="ariaLabel">
  <ul class="menu-bar__list" role="menubar">
    @for (item of items; track item.label) {
      <li
        class="menu-bar__item"
        [class.menu-bar__item--disabled]="item.disabled"
        routerLinkActive="menu-bar__item--active"
        [routerLinkActiveOptions]="{ exact: true }"
        role="none">
        <a
          class="menu-bar__link"
          [routerLink]="!item.external ? item.route : null"
          [href]="item.external ? item.route : undefined"
          [target]="item.external ? '_blank' : undefined" [attr.rel]="item.external ? 'noopener' : null"
          [attr.aria-disabled]="item.disabled"
          [attr.tabindex]="item.disabled ? -1 : 0"
          role="menuitem"
        >
          @if (item.icon) {
            <span class="menu-bar__icon" aria-hidden="true">
              <app-ui-icon [icon]="item.icon" type="system" size="1.2em"></app-ui-icon>
            </span>
          }
          <span class="menu-bar__label">{{ item.label }}</span>
          @if (item.badge) {
            <span class="menu-bar__badge">{{ item.badge }}</span>
          }
        </a>
      </li>
    }
  </ul>
</nav>