@use 'src/styles/mixins' as m;

.footer {
  background-color: var(--color-tertiary);
  color: var(--color-primary-lighter);
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
  flex-shrink: 0; // Evita que se encoja

  &__container {
    @include m.container;
  }

  &__copyright {
    text-align: center;
    font-size: var(--font-size-sm);
  }
}