<div class="admin-page-container">
  <app-ui-heading [uiHeading]="currentPageTitle()" />
  
  <div class="toolbar">
    <app-ui-search-box
      class="toolbar__search"
      (uiSearchBoxValueChange)="manager.onSearch($event)"
    />
    <app-ui-toolbar-buttons
      class="toolbar__actions"
      [uiToolbarButtonsActions]="toolbarActions"
      (uiToolbarButtonsActionClick)="handleToolbarAction($event)"
    />
  </div>

  <app-ui-table 
    [uiTableColumns]="columns"
    [uiTableData]="manager.data()"
    [uiTableIsLoading]="manager.isLoading()"
    [uiTableSort]="manager.sort()"
    [uiTableSelection]="manager.selectionService"
    (uiTableSortChange)="manager.onSortChange($event)"
    (uiTableAction)="handleTableAction($event)"
  >
    <!-- 
      Plantilla para la columna 'defaultname' para que sea un enlace de edición.
    -->
    <ng-template [appUiTableColumn]="'defaultname'" let-item>
      <a href="javascript:void(0);" (click)="onEdit(item)">{{ item.defaultname }}</a>
    </ng-template>
  </app-ui-table>

  <app-ui-paginator
    [uiPaginatorTotalRecords]="manager.totalRecords()"
    [uiPaginatorPage]="manager.page()"
    [uiPaginatorPageSize]="manager.pageSize()"
    (uiPaginatorPageStateChange)="manager.onPageStateChange($event)"
  />
</div>

<!-- Modal de Formulario (Crear/Editar) -->
<app-ui-form-modal
  [uiFormModalIsVisible]="isFormModalVisible()"
  [uiFormModalTitle]="formModalTitle"
  [uiFormModalFormGroup]="form"
  [uiFormModalIsSaving]="isSaving()"
  (uiFormModalSave)="onSave()"
  (uiFormModalClose)="onCloseFormModal()"
>
  <app-ui-dynamic-form [form]="form" [fields]="formFields" />
</app-ui-form-modal>

<!-- Modal de Confirmación (Borrar) -->
<app-ui-form-modal
  [uiFormModalIsVisible]="isConfirmModalVisible()"
  [uiFormModalTitle]="'Confirmar Eliminación'"
  [uiFormModalMode]="'confirm'"
  [uiFormModalIsSaving]="isDeleting()"
  (uiFormModalSave)="onConfirmDelete()"
  (uiFormModalClose)="onCloseConfirmModal()"
>
  <p>¿Estás seguro de que deseas eliminar este registro? Esta acción no se puede deshacer.</p>
</app-ui-form-modal>

<!-- Modal de Confirmación (Borrado Múltiple) -->
<app-ui-form-modal
  [uiFormModalIsVisible]="isConfirmMultiDeleteModalVisible()"
  [uiFormModalTitle]="'Confirmar Eliminación Múltiple'"
  [uiFormModalMode]="'confirm'"
  [uiFormModalIsSaving]="isDeleting()"
  (uiFormModalSave)="onConfirmDeleteSelected()"
  (uiFormModalClose)="onCloseConfirmMultiDeleteModal()"
>
  <p>
    ¿Estás seguro de que deseas eliminar los <b>{{ manager.selectionCount() }}</b> elementos seleccionados? Esta acción no se puede deshacer.
  </p>
</app-ui-form-modal>