<ng-container [ngSwitch]="level">
  
  <!-- H1 -->
<h1 [class]="getHeadingClasses()" [attr.aria-label]="ariaLabel" [attr.role]="'heading'" [attr.aria-level]="level">
  <span *ngIf="icon && iconPosition === 'top'" class="ui-heading__icon ui-heading__icon--top" [innerHTML]="svgContent" [ngStyle]="getIconStyle()"></span>
  <span class="ui-heading__content">
    <span *ngIf="icon && iconPosition === 'left'" class="ui-heading__icon ui-heading__icon--left" [innerHTML]="svgContent" [ngStyle]="getIconStyle()"></span>
    <span class="ui-heading__text" *ngIf="allowHtml; else plainText" [innerHTML]="text"></span>
    <ng-template #plainText>
      <span class="ui-heading__text">{{ text }}</span>
    </ng-template>
    <span *ngIf="icon && iconPosition === 'right'" class="ui-heading__icon ui-heading__icon--right" [innerHTML]="svgContent" [ngStyle]="getIconStyle()"></span>
  </span>
  <span *ngIf="icon && iconPosition === 'bottom'" class="ui-heading__icon ui-heading__icon--bottom" [innerHTML]="svgContent" [ngStyle]="getIconStyle()"></span>
</h1>



</ng-container>

