<div class="admin-page-container">
  <app-ui-heading [ui-heading-title]="pageTitle" />

  <div class="toolbar">
    <app-ui-search-box
      class="toolbar__search"
      (uiSearchBoxValueChange)="onSearch($event)"
    />
    <app-ui-toolbar-buttons
      class="toolbar__actions"
      [ui-toolbar-buttons]="toolbarActions"
    />
  </div>

  <app-ui-table
    [ui-table-columns]="columns"
    [ui-table-data]="data()"
    [ui-table-sort]="sort$ | async"
    [ui-table-selection]="selectionService"
    [ui-table-is-loading]="isLoading()"
    (ui-table-sort-change)="onSortChange($event)"
  />

  <app-ui-paginator
    [uiPaginatorTotalRecords]="totalRecords()"
    [uiPaginatorPageSize]="(pageSize$ | async) ?? 10"
    (uiPaginatorPageChange)="onPageChange($event.page)"
  />
</div>