<div class="admin-page-container">
  <app-ui-heading [ui-heading-title]="pageTitle" />
  <div class="toolbar">
    <app-ui-search-box
      class="toolbar__search"
      (uiSearchBoxValueChange)="manager.onSearch($event)"
    />
  </div>

  <!-- Ejemplo de uso dentro de ui-table-columns -->
  <!--
  {
    field: 'defaultname',
    header: 'Name',
    template: (row: any) => `<app-ui-icon ui-icon-name="${row.alpha2Code.toLowerCase()}" ui-icon-type="flag" ui-icon-size="s"></app-ui-icon> ${row.defaultname}`
  }
  -->
  <app-ui-table
    [ui-table-columns]="columns"
    [ui-table-data]="manager.data()"
    [ui-table-sort]="manager.sort()"
    [ui-table-is-loading]="manager.isLoading()"
    (ui-table-sort-change)="manager.onSortChange($event)"
  >
    <!-- 
      Aquí definimos la plantilla para la celda de la columna 'defaultname'.
      El nombre 'col_defaultname' debe coincidir con la lógica en `ui-table.component.ts`.
      La variable `let-country` recibe el objeto de la fila (el `$implicit` del contexto).
    -->
    <ng-template uiTableColumn="defaultname" let-item>
      <div style="display: flex; align-items: center; gap: 0.5rem;">
        <app-ui-icon [ui-icon-name]="item.alpha2may.toLowerCase()" ui-icon-type="circle-flag" ui-icon-size="s"></app-ui-icon>
        <a href="javascript:void(0)">{{ item.defaultname }}</a>
      </div>
    </ng-template>
  </app-ui-table>

  <app-ui-paginator
    [uiPaginatorTotalRecords]="manager.totalRecords()"
    [uiPaginatorPage]="manager.page()"
    [uiPaginatorPageSize]="manager.pageSize()"
    (uiPaginatorPageStateChange)="manager.onPageStateChange($event)"
  ></app-ui-paginator>
</div>