<button
  [attr.type]="type"
  [class]="getButtonClasses()"
  [disabled]="disabled || loading"
  [attr.aria-label]="ariaLabel"
  (click)="handleClick($event)"
>
  <span *ngIf="loading" class="ui-button__spinner" aria-hidden="true"></span>
  <ng-container *ngIf="icon && (iconPosition === 'left' || iconPosition === 'top' || iconPosition === 'only')">
    <span
      class="ui-button__icon"
      [ngStyle]="getIconStyle()"
      [innerHTML]="svgContent"
      *ngIf="svgContent"
      aria-hidden="true"
    ></span>
  </ng-container>
  <span
    class="ui-button__text"
    [ngStyle]="getTextStyle()"
    *ngIf="iconPosition !== 'only' && !loading"
  >
    <ng-content></ng-content>
  </span>
  <ng-container *ngIf="icon && iconPosition === 'right'">
    <span
      class="ui-button__icon"
      [ngStyle]="getIconStyle()"
      [innerHTML]="svgContent"
      *ngIf="svgContent"
      aria-hidden="true"
    ></span>
  </ng-container>
</button>
