<button
  [attr.type]="type"
  [ngClass]="buttonClasses"
  [disabled]="disabled || loading"
  [attr.aria-label]="ariaLabel"
  (click)="handleClick($event)"
  >
  @if (loading) {
    <span class="ui-button__spinner" aria-hidden="true"></span>
  }

  @if (icon && !loading) {
    <app-ui-icon
      class="ui-button__icon"
      [icon]="icon"
      [type]="iconType"
      [size]="iconSize"
    ></app-ui-icon>
  }

  @if (iconPosition !== 'only' && !loading) {
    <span
      class="ui-button__text"
      >
      <ng-content></ng-content>
    </span>
  }
</button>
