<button
  [attr.type]="type"
  [ngClass]="buttonClasses"
  [disabled]="disabled || loading"
  [attr.aria-label]="ariaLabel"
  (click)="handleClick($event)"
  >
  @if (loading) {
    <span class="ui-button__spinner" aria-hidden="true"></span>
  }

  @if (icon && !loading) {
    <app-ui-icon
      [name]="icon"
      [type]="iconType"
      [size]="iconSize"
      class="ui-button__icon"
      [class.ui-button__icon--only]="!hasContent" />
  }

  @if (iconPosition !== 'only' && !loading) {
    <span
      class="ui-button__text"
      #contentWrapper
      >
      <ng-content></ng-content>
    </span>
  }
</button>
