<div class="toolbar-buttons">
  @for (btn of buttons; track btn.label) {
    <button
      class="tb-btn tb-btn--{{btn.color}}"
      [disabled]="(btn.disabled$ | async) === true"
      (click)="executeAction(btn)"> @if (btn.icon) {
        <span class="tb-btn__icon">
          <app-ui-icon
            [icon]="btn.icon"
            [type]="btn.iconType || 'system'"
            [size]="btn.iconSize || 's'">
          </app-ui-icon>
        </span>
      }
      {{btn.label}}
    </button>
  }
</div>