
 <div class="dashboard-admin">
 
  <app-ui-heading
    [level]="1"
    text="Panel de Administración"
    icon="icon-dashboard"
    iconPosition="left"
    color="primary"
    textAlign="left"
    ariaLabel="Entrar al dashboard">
  </app-ui-heading>

 <div class="page">
       <div class="dashboard-admin__cards">
        <app-ui-stat-card label="Usuarios activos" value="452" icon="icon-user"></app-ui-stat-card>
        <app-ui-stat-card label="Países registrados" value="193" icon="icon-country"></app-ui-stat-card>
        <app-ui-stat-card label="Continentes" value="452" icon="icon-continents"></app-ui-stat-card>
        <app-ui-stat-card label="Áreas" value="193" icon="icon-area"></app-ui-stat-card>
         <!-- Más tarjetas según lo necesario -->
      </div>
    
 </div>


</div>
