<nav class="paginator" aria-label="Paginación">

  <div class="paginator__block">
    <label class="paginator__label" for="gotoPage">
      Ir a página
    </label>
    <input id="gotoPage"
      class="paginator__input"
      type="number"
      min="1"
      [max]="totalPages"
      [(ngModel)]="gotoPage"
      (change)="onGotoPage()" (keydown.enter)="onGotoPage()"
      aria-label="Ir a la página número"/>
  </div>
  
  <div class="paginator__block paginator__block--stats">
    <span>
      Mostrando <b>{{ startIdx }} - {{ endIdx }}</b> de <b>{{ totalItems }}</b>
    </span>
  </div>
</nav>
