<!-- File: d:\desarrollos\countries2\frontend\src\app\shared\components\ui-hamburger-menu\ui-hamburger-menu.component.html | Last Modified: 2025-10-19 -->

<!-- Botón de Hamburguesa -->
<button
  app-ui-button
  ui-button-variant="ghost"  
  (click)="toggleMenu()"
  class="hamburger-menu__toggle"  
>
  <app-ui-icon [ui-icon-name]="'icon-menu'"></app-ui-icon>
</button>

<!-- Fondo superpuesto -->
<div class="hamburger-menu__overlay" [class.is-open]="isMenuOpen()" (click)="toggleMenu()"></div>

<!-- Panel lateral del menú -->
<aside class="hamburger-menu__panel" [class.is-open]="isMenuOpen()">
  <header class="hamburger-menu__header">
    <h2 class="hamburger-menu__title">Menú</h2>
    <button app-ui-button ui-button-variant="ghost" (click)="toggleMenu()">
      <app-ui-icon [ui-icon-name]="'icon-close'"></app-ui-icon>
    </button>
  </header>
  <div class="hamburger-menu__content">
      <app-ui-accordion
        [ui-accordion-items]="accordionItems()"
      ></app-ui-accordion>

      <!--
        Plantilla genérica para renderizar los enlaces de un grupo de menú.
        Se mueve aquí para asegurar que está en el mismo contexto que el acordeón.
      -->
      <ng-template #menuLinkTemplate let-data>
        @for (item of data; track item.id) {
          <a class="menu-item" [routerLink]="item.routerLink" (click)="toggleMenu()">
            <app-ui-icon [ui-icon-name]="item.icon"></app-ui-icon>
            <span>{{ item.label }}</span>
          </a>
        }
      </ng-template>
  </div>
</aside>