<table class="admin-table">
  <thead>
    <tr>
      <th *ngIf="selectable"
          class="admin-table__toggle-header"
          [ngStyle]="{ width: '50px', minWidth: '50px', maxWidth: '50px' }">
        <app-toggle-checkbox
          [checked]="isAllSelected()"
          (checkedChange)="toggleAll($event)">
        </app-toggle-checkbox>
      </th>
      <th *ngFor="let col of columns"
          [class.sortable]="col.sortable"
          [ngStyle]="getColStyle(col)"
          (click)="onSortChange(col)">
        {{ col.label }}
        <span *ngIf="col.sortable && sortKey === col.key"
              class="admin-table__sort-icon"
              [class.asc]="sortOrder === 'asc'"
              [class.desc]="sortOrder === 'desc'">
          <ng-container *ngIf="sortOrder === 'asc'">&#9650;</ng-container><!-- ▲ -->
          <ng-container *ngIf="sortOrder === 'desc'">&#9660;</ng-container><!-- ▼ -->
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items" [class.selected]="isSelected(item)">
      <td *ngIf="selectable"
          class="admin-table__toggle-cell"
          [ngStyle]="{ width: '50px', minWidth: '50px', maxWidth: '50px' }">
        <app-toggle-checkbox
          [checked]="isSelected(item)"
          (checkedChange)="onToggleCheckbox(item, $event)">
        </app-toggle-checkbox>
      </td>
      <td *ngFor="let col of columns">
        <ng-container [ngSwitch]="col.key">
          <!-- Bandera y nombre juntos y anchos flexibles -->
          <ng-container *ngSwitchCase="'defaultname'">
            <span class="table__flag-name">
              <ng-container *ngIf="item.alpha2may">
                <app-flag-icon
                  [iso2]="item.alpha2may.toLowerCase()"
                  size="m" 
                  iconType="country"></app-flag-icon>
              </ng-container>
              <span class="country-name">{{ item.defaultname }}</span>
            </span>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ item[col.key] }}
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
