<!-- File: d:\desarrollos\countries2\frontend\src\app\shared\components\ui-table\ui-table.component.html | Last Modified: 2025-10-20 -->
<div class="table-container">
  <table>
    <thead>
      <tr>
        <!-- Columna de Selección (si se proporciona el servicio) -->
        @if (selection()) {
          <th class="selection-cell">
          <app-ui-toggle-checkbox [ui-toggle-checkbox-state]="headerCheckboxState" (click)="onToggleAll()"
            aria-label="Seleccionar todo"></app-ui-toggle-checkbox>
          </th>
        }

        <!-- Columnas de Datos -->
        @for (col of columns(); track col.key) {
          <th (click)="onSort(col)" [class.sortable]="col.sortable">
            {{ col.label }}
            @if (col.sortable) {
              <span class="sort-icon">
                @if (isSorted(col, 'asc')) { <app-ui-icon uiIconName="icon-arrow_upward" uiIconSize="xs"></app-ui-icon> }
                @if (isSorted(col, 'desc')) { <app-ui-icon uiIconName="icon-arrow_downward" uiIconSize="xs"></app-ui-icon> }
              </span>
            }
          </th>
        }

        <!-- Columna de Acciones (si se proporciona la plantilla) -->
        @if (actionsTemplate()) { <th>Actions</th> }
      </tr>
    </thead>
    <tbody>
      <!-- Estado de Carga -->
      @if (isLoading()) {
        <tr data-state="info">
          <td [attr.colspan]="columns().length + (selection() ? 1 : 0) + (actionsTemplate() ? 1 : 0)">Loading...</td>
        </tr>
      } @else if (!data() || data()!.length === 0) {
        <!-- Estado Vacío -->
        <tr data-state="info">
          <td [attr.colspan]="columns().length + (selection() ? 1 : 0) + (actionsTemplate() ? 1 : 0)">No records found.</td>
        </tr>
      } @else {
        <!-- Filas de Datos -->
        @for (item of data()!; track item.id) {
          <tr (click)="onRowClick(item)" [class.selected]="selection()?.isSelected(item)">
            @if (selection()) {
              <td class="selection-cell">
                <app-ui-toggle-checkbox [ui-toggle-checkbox-state]="selection()!.isSelected(item) ? 'ui-toggle-checked' : 'ui-toggle-unchecked'"
                  (click)="$event.stopPropagation(); onRowClick(item)"></app-ui-toggle-checkbox>
              </td>
            }
            @for (col of columns(); track col.key) {
              <td>
                @if (col.template === true) {
                  <ng-container [ngTemplateOutlet]="getCellTemplate(col.key)" [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
                } @else {
                  {{ getCellValue(item, col.key) }}
                }
              </td>
            }
            @if (actionsTemplate()) {
              <td>
                <ng-container [ngTemplateOutlet]="actionsTemplate()" [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
              </td>
            }
          </tr>
        }
      }
    </tbody>
  </table>
</div>