<span
  class="ui-icon"
  [ngClass]="[type, class || '']"
  [ngStyle]="{
    'color': color,
    'width': computedSize,
    'height': computedSize
  }"
  [attr.title]="icon"
>
  <ng-container [ngSwitch]="renderAs">
    <ng-container *ngSwitchCase="'svg'">
      <span 
        *ngIf="svgContent$ | async as svgContent" 
        [innerHTML]="svgContent"
      ></span>
    </ng-container>
    <img
      *ngSwitchCase="'image'" 
      [src]="imagePath" 
      [alt]="icon" 
    />
  </ng-container>
</span>