// src/app/modules/shared/components/toggle-checkbox/toggle-checkbox.component.scss

:host {
  display: inline-flex;
  cursor: pointer;
  color: var(--color-text-muted);
  transition: color var(--transition-base);
  // Para que el outline de foco se vea bien
  border-radius: var(--radius-sm);
  padding: 2px;
  margin: -2px;
  
  &:hover {
    color: var(--color-text);
  }
}

// Estilos basados en el estado del HostBinding
:host(.toggle-checkbox--on) {
  color: var(--color-primary);
  &:hover {
    color: var(--color-primary-dark);
  }
}

:host(.toggle-checkbox--intermediate) {
  color: var(--color-warning);
}
