<!-- File: d:\desarrollos\countries2\frontend\src\app\shared\components\ui-form-modal\ui-form-modal.component.html | Last Modified: 2025-10-19 -->

@if (isVisible) {
  <ng-container>
    <div
      class="ui-form-modal-backdrop"
      (click)="onClose()"
      (keydown.escape)="onClose()"
      role="button"
      tabindex="0"
      aria-label="Cerrar modal"
    ></div>

    <div
      class="ui-form-modal ui-form-modal--{{ variant }}"
      role="dialog"
      aria-modal="true"
      [attr.aria-labelledby]="'ui-form-modal-title'"
    >
      <!-- 1. Cabecera del Modal -->
      <app-ui-heading
        id="ui-form-modal-title"
        class="ui-form-modal__header"
        [uiHeadingLevel]="3"
        [uiHeadingTitle]="title"
        [uiIconName]="headingIconName || iconName"
      >
        <button
          app-ui-button
          [uiIconName]="'icon-close'"
          [uiIconPosition]="'only'"
          [uiButtonVariant]="'ghost'"
          (click)="onClose()"
          aria-label="Cerrar modal"
        ></button>
      </app-ui-heading>

      <!-- 2. Cuerpo del Modal -->
      <div class="ui-form-modal__body">
        <ng-content></ng-content>
      </div>

      <!-- 3. Pie de Página del Modal -->
      <footer class="ui-form-modal__footer">
        <button app-ui-button uiButtonVariant="outline" (click)="onClose()" [uiButtonDisabled]="isLoading">Cancelar</button>
        
        @if (mode === 'form') {
          <button app-ui-button uiButtonColor="primary" (click)="onSave()" [uiButtonLoading]="isLoading" [uiButtonDisabled]="isFormInvalid() || isLoading">Guardar</button>
        }
        
        @if (mode === 'confirm') {
          <button app-ui-button uiButtonColor="primary" (click)="onSave()" [uiButtonLoading]="isLoading" [uiButtonDisabled]="isLoading">Aceptar</button>
        }
      </footer>
    </div>
  </ng-container>
}
