// File: d:\desarrollos\countries2\frontend\src\app\features\admin\continents\continents-admin.component.scss | New File

.cell-with-icon {
  display: flex;
  align-items: center;
  gap: var(--space-s);
}