<!-- File: d:\desarrollos\countries2\frontend\src\app\features\admin\dashboard\dashboard.component.html | New File -->
<div class="dashboard-container">
  <h2>Bienvenido al Dashboard</h2>
  <div class="grid">
    @for (stat of stats(); track stat.title) {
      <app-ui-stat-card
        class="grid__item grid__item--span-3"
        [ui-stat-card-title]="stat.title"
        [ui-stat-card-value]="stat.value"
        [ui-stat-card-icon]="stat.icon"
        [ui-stat-card-route]="stat.route"
      />
    }
    @empty {
      @for (item of [1, 2, 3, 4]; track item) {
        <app-ui-stat-card
          class="grid__item grid__item--span-3"
          ui-stat-card-title="Cargando..."
          ui-stat-card-value="--"
          [ui-stat-card-is-loading]="true"
        />
      }
    }
  </div>
</div>